doctype html
html(lang="ko")
	head
		title #{pageTitle} | tutube 
		link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
	body 
		header 
			nav
				ul 
					li
						a(href="/") Home
					li
						a(href="/upload") Upload
					if user.login
						li
							a(href="/logout") Logout 
					else
						li
							a(href="/login") Login 
			h1=pageTitle
		main 
			block content
	include partials/footer.pug