extends base.pug

block content 
	h2 video
	h2 Edit [#{video.title}] video title
	form(method="post")
		input(name="title", value=video.title)
		input(name="description", value=video.description)
		input(name='hashTags', value=video.hashTags.join())
		input(value="save", type="submit")