extends base.pug

block content 
	h2 Log in
	form(method='POST')
		input(name='userName', placeholder='UserName', type='text', required)
		input(name='password', placeholder='Password', type='text', required)
		input(type='submit', value='Login')